<nav>
  <div class="container1">
    <div class="nav-wrapper">
      <%=link_to 'UniTech', root_path, class: "brand-logo" %>       
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%=link_to 'New', new_student_path %></li>        
        <li><%=link_to 'Courses', courses_path %></li>        
          <% if logged_in? %>
            <li><%=link_to 'Students', students_path %></li>
          <% end %>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><%=link_to 'Courses', courses_path %></li>
  <% if logged_in? %>
    <li><%=link_to 'Students', students_path %></li>
  <% end %>
  <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Account<i class="material-icons right">arrow_drop_down</i></a></li>
</ul>

<ul id="dropdown1" class="dropdown-content">
  <li> <%= session_link %> </li>
  <% if logged_in? %>
    <li> <%= link_to 'My profile', student_path(current_user) %> </li>
  <% end %>
  <li><a href="#!">three</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li> <%= session_link %> </li>
  <% if logged_in? %>
    <li> <%= link_to 'My profile', student_path(current_user) %> </li>
  <% end %>
  <li><a href="#!">three</a></li>
</ul>