<!DOCTYPE html>
<html>
  <head>
    <title>UniTech</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
      <%=render 'layouts/navbar' %>
      <% flash.each do |key, message| %>
        <div class="container">
          <div class="container-errors">
            <div class="col s12 m12 l12">
              <div class="card-panel green lighten-2" id="fade-out-target">
                <span class="white-text">
                  <%= message %>
                </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </header>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer>
      <%=render 'layouts/footer' %>
    </footer>
  </body>
</html>
